.buy-exange,
.sell-exange {
    display: inline-block;
}

#get-data {
    height: 70px;
    width: 200px;
    font-size: 120%;
    color: honeydew;
    background-color: green;
}

.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}

.fa-minus {
    color: blue;
}